* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

h2.label {
  font-weight: 400;
  font-size: 0.9rem;
  transform: translateY(50%);
}

h3.label {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 4%;
  transform: translateY(50%);
}

h3.label span {
  padding: 0 0.4rem;
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
  background-color: white;
}

h2.label span {
  padding: 0 0.4rem;
  background-color: white;
}

#root {
  padding: 0.5rem;
  padding-bottom: 2rem;
  max-width: 50rem;
}

#submit-poem-btn {
  border: none;
  border: 1px solid gray;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

#word-palette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#composed-poem {
  margin-bottom: 1rem;
}

.poemRow-divClass {
  display: flex;
}

.poemRow-divClass + .poemRow-divClass {
  margin-top: 1.5rem;
}

.addedWordBtn-connectorDivClass {
  width: 2rem;
  border-bottom: 1px solid gray;
  transform: translateY(-50%);
  display: none;
}

.addedWordBtn-containerDivClass {
  display: flex;
}

.addedWordBtn-containerDivClass + .addedWordBtn-containerDivClass > .addedWordBtn-connectorDivClass {
  display: block;
}

.submittedWordDiv-divClass {
  display: flex;
}

.submittedWordDiv-divClass + .submittedWordDiv-divClass > .submittedWordDiv-connectorDivClass {
  display: block;
}

button {
  padding: 0.2rem;
}

.addedWordBtn-buttonClass {
  font-size: 0.8rem;
  border: none;
  position: relative;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.35rem;
  padding: 0.35rem;
}

.submittedWordDiv-innerParagraphClass {
  font-size: 0.8rem;
  border: none;
  position: relative;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.35rem;
  padding: 0.35rem;
}

.addedWordBtn-closeIconClass {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0.25rem;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.addedWordBtn-buttonClass:hover .addedWordBtn-closeIconClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paletteBtn-class {
  margin: 0.4rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.submittedPoemContainer-innerDivClass {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.submittedPoemContainer-divClass > .submittedPoemContainer-innerDivClass {
  padding: 1.7rem;
}

.submittedPoemContainer-divClass + .submittedPoemContainer-divClass {
  margin-top: 1.7rem;
}

#submitted-poems {
  padding: 2rem 1.5rem;
}
