doctype html
html(lang="en")
    head
        title Post a Poem
    body
        div(id="root")
            h1 10 word poem maker
            div(id="word-palette")
            div(id="composed-poem")
            button(id="submit-poem-btn") Submit poem
            h2 Submitted poems
            div
                each val in poems
                    p= val
            script(src='app.js')