template(id= addedWordBtn.templateId)
  div(class= addedWordBtn.containerDivClass)
    div(class= addedWordBtn.connectorDivClass)
    button(class= addedWordBtn.buttonClass)
      p(class= addedWordBtn.closeIconClass) X