* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

#root {
  padding: 0.5rem;
  max-width: 50rem;
}

#root > * + * {
  margin-top: 1rem;
}

#word-palette {
  padding: 0.5rem;
  border: 1px solid gray;
}

#composed-poem {
  padding: 0.5rem;
  border: 1px solid gray;
}

.poem-row {
  display: flex;
}

.poem-row + .poem-row {
  margin-top: 1rem;
}

.connector-div {
  width: 2rem;
  border-bottom: 1px solid black;
  transform: translateY(-50%);
  display: none;
}

.word-div {
  display: flex;
}

.word-div + .word-div > .connector-div {
  display: block;
}

button {
  padding: 0.2rem;
}

.poem-word {
  border: none;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25rem;
}