* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

h2.label {
  font-weight: 400;
  font-size: 0.9rem;
  transform: translateY(50%);
}

h2.label span {
  padding: 0 0.4rem;
  background-color: white;
}

#root {
  padding: 0.5rem;
  max-width: 50rem;
}

#submit-poem-btn {
  border: none;
  border: 1px solid gray;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

#word-palette {
  padding: 1rem;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

#composed-poem {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.poem-row {
  display: flex;
}

.poem-row + .poem-row {
  margin-top: 1.5rem;
}

.connector-div {
  width: 2rem;
  border-bottom: 1px solid gray;
  transform: translateY(-50%);
  display: none;
}

.word-div {
  display: flex;
}

.word-div + .word-div > .connector-div {
  display: block;
}

button {
  padding: 0.2rem;
}

.poem-word {
  border: none;
  position: relative;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.35rem;
  padding: 0.35rem;
}

.close-icon {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0.25rem;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.poem-word:hover .close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette-btn {
  margin: 0.4rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}